<h1>Editing business owner profile</h1>

<%= render "form", business_owner_profile: @business_owner_profile %>

<br>

<div>
  <%= link_to "Show this business owner profile", @business_owner_profile %> |
  <%= link_to "Back to business owner profiles", business_owner_profiles_path %>
</div>
