<p style="color: green"><%= notice %></p>

<h1>Business owner profiles</h1>

<div id="business_owner_profiles">
  <% @business_owner_profiles.each do |business_owner_profile| %>
    <%= render business_owner_profile %>
    <p>
      <%= link_to "Show this business owner profile", business_owner_profile %>
    </p>
  <% end %>
</div>

<%= link_to "New business owner profile", new_business_owner_profile_path %>
