<h1>New business owner profile</h1>

<%= render "form", business_owner_profile: @business_owner_profile %>

<br>

<div>
  <%= link_to "Back to business owner profiles", business_owner_profiles_path %>
</div>
