button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    padding-inline: 2rem;
    width: fit-content;
}

.favorited {
    color: red;
    background-color: white;
}