.contact-container {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.contact-container h1 {
  text-align: center;
  color: #333;
  font-size: 2em;
}

.contact-container p {
  text-align: center;
  color: #777;
  font-size: 1em;
  margin-bottom: 2em;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.contact-container label {
  margin-bottom: 0.5em;
  color: #333;
  font-weight: bold;
}

.contact-container input, .contact-container textarea {
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-container textarea {
  height: 150px;
  resize: vertical;
}

.contact-container input[type="submit"] {
  background: #288f51;
  color: white;
  border: none;
  padding: 1em 2em;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-container input[type="submit"]:hover {
  background: #1a6538;
}

.contact-container a {
  color: #288f51;
  text-decoration: none;
}

.contact-container a:hover {
  text-decoration: underline;
}